.ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}
.dropdown-margin{
  margin: 20px 30px;
  font-size: 30px;
}
.ant-dropdown-menu-item{
  font-size: 20px;
  font-family: monospace;
  font-weight: 500;
}
