.left {
  font-size: 32px;
  font-weight: 500;
  display: inline-block;
  padding: 0px !important;
}

#navbar .ant-menu-item-selected {
  background-color: inherit !important;
  border: none;
}
#navbar .ant-menu-item{
  border: none;
}
#navbar .ant-menu-item:hover{
  border: none;
}
.right {
  float: right;
  font-size: 24px;
  margin-right: 15px;
}

.trigger {
  font-size: 25px !important;
  line-height: 60px;
  padding-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}
/* .trigger:hover {
  color: #1890ff;
} */


@media only screen and (max-width: 600px) {
  .right {
    float: right;
    font-size: 14px;
  }

  .left {
    float: left;
    font-size: 18px;
    font-weight: 500;
    padding: 0px !important;
  }

  .header {
    padding: 0 !important;
  }

  .trigger {
    font-size: 20px !important;
  }
}
footer {
  background: black;
  color: white;
}