.wrapper{
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 99;
}

.wrapper .ant-menu-item{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
  color: grey;
  font-weight: 200;
  letter-spacing: 1px;
}
.wrapper .anticon{
  font-size: 20px;
}