#categories{
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
  background:#f4f4f4
}
#categories .ant-col span{
  padding: 5px;
  text-align: center;
}
#categories .ant-col span a{
  color: gray;
}
#categories .ant-col {
  transition: all 0.5s;
  padding: 5px;
}
#categories .ant-col:hover {
background: rgba(0, 0, 0, 0.1)
}
@media(max-width:390px){
  #categories .ant-col span{
    padding: 0;
    font-size: 8px;
  }
}